.container {
    margin-left: 0px;
    margin-right: 0px;
}

.grid {
    display: grid;
    grid-template-columns: [uno] 1000px [dos] auto [tres] auto [cuatro];
    grid-template-rows: [uno] auto [dos] auto [tres];
    gap: 20px;
}

.flex-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(185, 196, 196);
}

.flex-cc div {
    text-align: center;
}

.pt {
    padding: 1rem;
}